<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nJim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <nJim.Properties.Settings>
            <setting name="YAK" serializeAs="String">
                <value>Co6Pg9_V34FjxJtacBHg.sZ.hFtTF1hKFEZE03M7JXflOlMsgBdQzjX7hUP1EUH_ek8M</value>
            </setting>
            <setting name="YGCU" serializeAs="String">
                <value>http://local.yahooapis.com/MapsService/V1/geocode</value>
            </setting>
            <setting name="YMIU" serializeAs="String">
                <value>http://local.yahooapis.com/MapsService/V1/mapImage</value>
            </setting>
        </nJim.Properties.Settings>
    </userSettings>
</configuration>